head
  script(src='/javascripts/lib/phaser.min.js')
  script(src='/javascripts/lib/jquery-3.0.0.min.js')
  script(src='/javascripts/game.js')
  script(src='/javascripts/boot.js')
  script(src='/javascripts/play.js')
  script(src='/javascripts/player.js')
body
  script.
    gameBootstrapper.init();
